{# Vue App Django Base Template #}

{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Caressa</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <style>
            body {
                font-family: 'Roboto', sans-serif;
            }
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="{% static "main.js" %}"></script>
    </body>
</html>
