{% extends 'base.html' %}

{% block content %}
<div id="app">
    <div v-if="loading">
        <img src="https://s3-us-west-1.amazonaws.com/caressa-prod/images/site/loader.gif">
    </div>
    <div v-else>
        <div>Welcome -{-user.first_name-}- -{-user.last_name-}-</div>

        <a v-on:click="logout()" href="#">Logout</a>

        <div id="seniors">
            <form id="search">Search <input name="query" v-model="searchQuery"></form>
            <tabular-data :data="gridData" :columns="gridColumns" :filter-key="searchQuery" :edit-entry="editEntry"
                          :delete-entry="deleteEntry" :on-submit="onSubmit"></tabular-data>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/x-template" id="grid-unit-template">
    <div>
        <span v-if="content.length==1">
            <input v-model='fieldValue' v-if="isEdit" v-on:keyup.stop="updateFormInput()"  type="text" :name="name">
            <span v-else>-{- content[0] -}-</span>
        </span>
        <div v-else v-for="entry in content">
            <label style="font-weight: bold">-{- entry.label -}-: </label>
            <grid-unit :content="[entry.value]" :is-edit="isEdit" :name="entry.key"></grid-unit>
        </div>
    </div>
</script>


<script type="text/x-template" id="tabular-template">
    <div>
    <form v-on:submit.prevent="onSubmit()" action="http://localhost:8000/acounts/seniorsss">
        <table>
            <thead>
                <tr>
                    <th v-for="col_obj in columns" @click="sortBy(col_obj.field)" :class="{ active: sortKey == col_obj.field }">
                        -{- col_obj.label -}-
                        <span class="arrow" :class="sortOrders[col_obj.field] > 0 ? 'asc' : 'dsc'"></span>
                    </th>
                    <th>Edit</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="entry in filteredData">
                    <td v-for="(col_obj, key) in columns">
                        <grid-unit :content="entry[col_obj.field]" :is-edit="false" :name="col_obj.field"></grid-unit>
                    </td>
                    <td>
                        <i class="far fa-edit" v-on:click="editEntry(entry.pk)"
                           style="font-size:26px; color:seagreen; cursor: pointer;"></i>
                        <i class="fas fa-ban" v-on:click="deleteEntry(entry.pk)"
                           style="font-size:26px; color:indianred; cursor: pointer;"></i>
                    </td>
                </tr>
                <tr v-if="filterKey && filteredData.length==0">
                    <td colspan="5" style="color:indianred;">No entry found for search "-{-filterKey-}-"</td>
                </tr>

                <tr>
                    <td v-for="(col_obj, key) in columns" style="border-top: darkblue solid 1px;">
                        <label v-bind:for="col_obj.field" style="font-weight: bold;">-{-col_obj.label-}-</label><br>
                        <grid-unit
                                   v-if="col_obj.field=='primary_contact'"
                                   :content="[{'key': 'contact.email', 'label': 'Email', 'value': ''},
                                              {'key': 'contact.name', 'label': 'Name', 'value': ''},
                                              {'key': 'contact.phone_number', 'label': 'Phone Number', 'value': ''}]"
                                   :is-edit="true"
                                   :name="col_obj.field"
                                   :id="col_obj.field"></grid-unit>
                        <grid-unit v-else :content="['']" :is-edit="true" :name="col_obj.field" :id="col_obj.field"></grid-unit>
                    </td>
                    <td style="border-top: darkblue solid 1px;">
                        <button type="submit"><i class="fas fa-plus" style="font-size:26px"></i> Add</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    -{- filteredData.length -}-
    </div>
</script>

<script type="application/javascript">

    Vue.component('grid-unit', {
        delimiters: ['-{-', '-}-'],
        template: '#grid-unit-template',
        props: {
            content: Array,
            name: String,
            isEdit: Boolean
        },
        mounted: function() {
            if(this.isEdit == false) {
                return
            }

            if(this.content.length > 1) {
                return
            }

            this.updateFormInput()
        },
        data: function() {
            return {
                fieldValue: ''
            }
        },
        methods: {
            updateFormInput: function() {
                this.$root.$data.formData[this.name] = this.fieldValue
            }
        }
    })

    Vue.component('tabular-data', {
        delimiters: ['-{-', '-}-'],
        template: '#tabular-template',
        props: {
            data: Array,
            columns: Array,
            filterKey: String,
            editEntry: Function,
            deleteEntry: Function,
            onSubmit: Function
        },
        data: function () {
            var sortOrders = {}
            this.columns.forEach(function (key) {
                sortOrders[key.field] = 1
            })
            return {
                sortKey: '',
                sortOrders: sortOrders,
                formData: {}
            }
        },
        computed: {
            filteredData: function () {
                var sortKey = this.sortKey
                var filterKey = this.filterKey && this.filterKey.toLowerCase()
                var order = this.sortOrders[sortKey] || 1
                var data = this.data
                if (filterKey) {
                    data = data.filter(function (row) {
                        return Object.keys(row).some(function (key) {
                            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                        })
                    })
                }
                if (sortKey) {
                    data = data.slice().sort(function (a, b) {
                        a = a[sortKey]
                        b = b[sortKey]
                        return (a === b ? 0 : a > b ? 1 : -1) * order
                    })
                }
                return data
            }
        },
        methods: {
            sortBy: function (key) {
                this.sortKey = key
                this.sortOrders[key] = this.sortOrders[key] * -1
            }
        }
    })

    let app = new Vue({
        delimiters: ['-{-', '-}-'],
        el: '#app',
        mounted: function() {
            this.access_token = this.$cookies.get('access_token')

            // todo: make this one as a function as `requireLogin()`
            if(!this.access_token) {
                window.location.href = 'http://localhost:8000/accounts/login/';
            }

            // Get User Detail
            this.$http.get('http://localhost:8000/api/users/me', {
                headers: {
                    Authorization: 'Bearer ' + this.access_token
                }
            }).then(function(response) {
                this.user = response.data
                this.list()
                this.loading = false
            }, function(error) {
                console.error(error)
            })
        },
        data: {
            loading: true,
            formData: {},
            user: {},
            access_token: '',
            client_id: '{{ client_id }}',
            client_secret: '{{ client_secret }}',
            searchQuery: '',
            gridColumns: [
                {field: 'first_name', label: 'First Name'},
                {field: 'last_name', label: 'Last Name'},
                {field: 'room_no', label: 'Room Number'},
                {field: 'primary_contact', label: 'Primary Contact'}
            ],
            gridData: []
        },
        methods: {
            list: function () {
                this.$http.get('http://localhost:8000/api/seniors', {
                    headers: {
                        Authorization: 'Bearer ' + this.access_token
                    }
                }).then(function(response) {
                    let rawData = response.data.results
                    let that = this

                    this.gridData = rawData.map(function(row){
                        for (var col of that.gridColumns) {
                            if (col.field == 'primary_contact') {
                                if (!row[col.field]) {
                                    row[col.field] = ['']
                                    continue
                                }
                                let contact = row[col.field]
                                row[col.field] = [
                                    {
                                        key: 'email',
                                        label: 'Email',
                                        value: contact.email
                                    },
                                    {
                                        key: 'name',
                                        label: 'Name',
                                        value: contact.first_name + ' ' + contact.last_name
                                    },
                                    {
                                        key: 'phone number',
                                        label: 'Phone Number',
                                        value: contact.phone_number
                                    }
                                ]
                                continue
                            }

                            row[col.field] = [ row[col.field] ]
                        }

                        return row
                    })
                }, function(error) {
                    console.error(error)
                })
            },
            deleteEntry: function(pk) {
                let deletedEntryList = this.gridData.filter(function(data) {
                    return data.pk == pk
                })

                let confirmation = confirm("Are you sure deleting '" + deletedEntryList[0].first_name + "'?")
                if (!confirmation) {
                    return
                }

                this.gridData = this.gridData.filter(function(data) {
                    return data.pk != pk
                })

                this.$http({
                    method: 'DELETE',
                    url: 'http://localhost:8000/api/seniors/' + pk,
                    emulateJSON: true,
                    headers: {
                        Authorization: 'Bearer ' + this.access_token
                    }
                }).then(function(){
                    console.log('successful deletion')
                }, function(error){
                    alert('Something went wrong! Could not delete entry ' + deletedEntryList[0].first_name);
                    this.gridData = deletedEntryList.concat(this.gridData)
                })
            },
            editEntry: function(pk) {
                console.log('edit ' + pk)
            },
            logout: function () {
                this.$http({
                    method: 'POST',
                    url: 'http://localhost:8000/o/revoke_token/',
                    emulateJSON: true,
                    body: {
                        token: this.access_token,
                        client_id: this.client_id,
                        client_secret: this.client_secret
                    }
                })
                this.$cookies.remove('access_token')
                this.$cookies.remove('refresh_token')
                window.location.href = 'http://localhost:8000/accounts/login/';
            },
            onSubmit: function() {
                this.$http({
                    method: 'POST',
                    url: 'http://localhost:8000/api/seniors',
                    emulateHTTP: true,
                    headers: {
                        Authorization: 'Bearer ' + this.access_token
                    },
                    body: this.formData
                })
            }
        }
    })
</script>
{% endblock %}

{% block css %}
<style type="text/css">
    body {
      font-family: Helvetica Neue, Arial, sans-serif;
      font-size: 14px;
      color: #444;
    }

    table {
      border: 2px solid #42b983;
      border-radius: 3px;
      background-color: #fff;
    }

    th {
      background-color: #42b983;
      color: rgba(255,255,255,0.66);
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    td {
      background-color: #f9f9f9;
    }

    th, td {
      min-width: 120px;
      padding: 10px 20px;
    }

    th.active {
      color: #fff;
    }

    th.active .arrow {
      opacity: 1;
    }

    .arrow {
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      margin-left: 5px;
      opacity: 0.66;
    }

    .arrow.asc {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid #fff;
    }

    .arrow.dsc {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #fff;
    }
</style>
{% endblock %}