{% extends 'base.html' %}

{% block content %}
    <p>Sign Up Caressa</p>
    <p>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign up</button>
            </form>
        </div>
    </p>
    <hr>
    <p>Q: What is Caressa?</p>
    <p>A: Caressa is a radio-like senior companion for entertainment and information that the seniors deserve! It brings the security of family connection and more.</p>
{% endblock %}

{% block js_3rd_parties %}
{% endblock %}