Django==2.0.1
psycopg2==2.7.1
gunicorn==19.7.1
whitenoise==3.3.1
django-extensions==1.9.9
ipdb==0.10.3
dj-database-url==0.4.2
django-reversion==2.0.13
django-model-utils==3.1.1
django-phonenumber-field==2.0.0
djangorestframework==3.8.2
django-filter==1.1.0
markdown==2.6.11
django-cors-headers==2.1.0
requests==2.18.4
icalendar==4.0.1
-e git+git://github.com/cun3yt/icalevents.git@5831b1ee1f969bf7c74a1c8a5b287ecf9b7f49ce#egg=icalevents
daiquiri==1.3.0
django-activity-stream==0.6.5
django-jsonfield==1.0.1
django-jsonfield-compat==0.4.4