.quasar
.DS_Store
.thumbs.db
node_modules
/dist
/src-cordova/hooks/*
/src-cordova/node_modules/
/src-cordova/platforms/*
/src-cordova/plugins/*
/src-cordova/www/*
/src-cordova/res/icon/*
/src-cordova/res/screen/*
/src-cordova/res/README.md
/src-cordova/.npmignore
!/src-cordova/res/icon/ios/
!/src-cordova/res/screen/ios/
!/src-cordova/config.xml
!/src-cordova/package.json
!/src-cordova/package-lock.json
!/src-cordova/build.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
