{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="/replicate/" method="POST">
            {% csrf_token %}
            <label for="playlist_name">Playlist Name :</label>
            <input id="playlist_name" type="text" name="playlist_name">
            <label for="user_id">User ID :</label>
            <input id="user_id" type="text" name="user_id">
            <button type="submit">Replicate Playlist</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}